<h3 class="wiki-h3">Contributing</h3>
<p >
    The source code is available in a private repository on Github, along with instructions for building/running the project locally.  Please fork it from here:
    <a href="https://github.com/skyglobal/analytics/">https://github.com/skyglobal/analytics/</a>
</p>

<dl class="clearfix ">
    <dt class="skycom_4 alpha">Feature Requests</dt>
    <dd class="skycom_8">Please check <a href="https://github.com/skyglobal/analytics/issues">here</a> to see if there is already a similar request. If not, create a New
        Issue and flag it as an '<code>enhancement</code>'</dd>
    <dt class="skycom_4 alpha">Bug Reporting</dt>
    <dd class="skycom_8">Please check <a href="https://github.com/skyglobal/analytics/issues">here</a> to see if there is already a similar request. If not, create a New
        Issue and flag it as a '<code>bug</code>'</dd>
</dl>