<h2 class="wiki-h2">Contributing</h2>
<p >
    The source code is available in a private repository on Github, along with instructions for building/running the project locally.  Please fork it from here:
    <a href="https://github.com/skyglobal/analytics/">https://github.com/skyglobal/analytics/</a>
</p>

<dl class="clearfix ">
    <dt class="skycom_4 alpha">Feature Requests</dt>
    <dd class="skycom_8">If there is no similar request <a href="https://github.com/skyglobal/analytics/issues">here</a>, create a New
        Issue and flag it as an '<code>enhancement</code>'</dd>
    <dt class="skycom_4 alpha">Bug Reporting</dt>
    <dd class="skycom_8">If there is no similar request <a href="https://github.com/skyglobal/analytics/issues">here</a>, create a New
        Issue and flag it as a '<code>bug</code>'</dd>
</dl>