<h3 class="wiki-h3">Default Config</h3>
<p class="developer-notes">
    There are a few things you get for free.  These are:
</p>

<h4>On Page View</h4>
<dl class="clearfix ">
    <dt class="skycom_4 alpha">pageLoad</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">refDomain</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">pageURL</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">url</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">pageConversion</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">sessionCamID</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">fullPageDescription</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">samId</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">customerType</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">ageGender</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">optIn</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">testAndTarget</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">tnt</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">repeatVisit</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">visitNum</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">fullCampaign</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">searchEngine</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">externalSearchTerm</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">campaign</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">sessionCampaign</dt>
    <dd class="skycom_8"></dd>
 </dl>

<h4>On Click</h4>
<dl class="clearfix ">
    <dt class="skycom_4 alpha">linkClick Event</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">linkDetails</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">refDomain</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">url</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">masthead</dt>
    <dd class="skycom_8"></dd>
    <dt class="skycom_4 alpha">sessionCamID</dt>
    <dd class="skycom_8"></dd>
 </dl>
