<h3 class="wiki-h3">Getting Started</h3>
<p> Once tracking has been initialised,
    <code>anchors</code>, <code>buttons</code>, <code>submits</code> and any element with <code>[data-tracking]</code> are automatically tracking.
    You Can also manually trigger tracking using JS.
</p>

<h4>Initialising</h4>
<p>The are a number of details that needs to be passed to the tracking code, which should be passed through as a single object.  Please get the applicable details for your project from <code>implementation@bskyb.com</code>.</p>
<p>The following can be added to the <code>config</code> object:</p>

<dl class="clearfix ">
    <dt class="skycom_4 alpha">site</dt>
    <dd class="skycom_8">[mandatory] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">section</dt>
    <dd class="skycom_8">[mandatory] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">account</dt>
    <dd class="skycom_8">[mandatory] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">page</dt>
    <dd class="skycom_8">[mandatory] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">headline</dt>
    <dd class="skycom_8">[optional] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">contentType</dt>
    <dd class="skycom_8">[optional] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">contentId</dt>
    <dd class="skycom_8">[optional] --- desciption here ---</dd>
    <dt class="skycom_4 alpha">debug</dt>
    <dd class="skycom_8">[optional] [true|false]. Turn on debug on page load to capture the page view event</dd>
    <dt class="skycom_4 alpha">customVariables</dt>
    <dd class="skycom_8">[optional] An object used to add your own tracking variable mapped to an Omniture id. <a href="#custom-vars">details here >></a></dd>
    <dt class="skycom_4 alpha">customEvents</dt>
    <dd class="skycom_8">[optional] An object used to add your own tracking event mapped to an Omniture id. <a href="#custom-events">details here >></a></dd>
</dl>

<p>Then you must tell the code to either add a pageView:
    <code >    analytics.pageView(config); </code>
</p>

<h4>Debugging</h4>
<p>Outside of the config, you can easily execute the following after the page has loaded to start debugging:
    <code class="block">    toolking.tracking.debug(<i>[true|false]</i>);</code>
</p>

<h4>Example config</h4>
<code class="block">    analytics.pageView({
        site: 'global',
        section: 'skyglobal/analytics',
        account: 'bskybdemodev',
        page: 'Analytics demo page',
        customEvents: [
            {'magic_happened': {event: 101}}
        ],
        customVariables: [
            {'drink': {'eVar': 72}},
        ],
        debug: true
    });
</code>