---
layout: default
title: Analytics
---
<h1 class="wiki-header">Omniture Analytics <small>v{{ site.version }}</small></h1>

<section class="wiki-section">
    <a name="using-me"></a>
    <h2>Using the Analytics</h2>
    <p class="developer-notes">
        <a href='http://analytics.global.sky.com/{{ site.version }}/tracking.js'>http://analytics.global.sky.com/{{ site.version }}/tracking.js</a>
    </p>
    <a name="contributing"></a>
    <div class="sub-section">
        {% include using-the-analytics/contributing.html %}
    </div>
    <a name="getting-started"></a>
    <div class="sub-section">
        {% include using-the-analytics/getting-started.html %}
    </div>
</section>


<a name="link-tracking"></a>
<section class="wiki-section">
    {% include link-tracking.html %}
</section>

<a name="custom-vars"></a>
<section class="wiki-section">
    {% include custom-vars.html %}
</section>

<a name="custom-events"></a>
<section class=wiki-section>
    {% include custom-events.html %}
</section>

<a name="manual"></a>
<section class=wiki-section>
    {% include manual-trigger.html %}
</section>

<a name="single-page-apps"></a>
<section class=wiki-section>
    {% include single-page-apps.html %}
</section>
<script type="text/javascript" charset="utf-8">

    //todo: explain when to use
//    headline: '',
//    contentType: '',
//    contentId: '',
    toolkit.tracking.pageView({
        site: 'mysky', //todo:mandatory. docs note this should not have sky/portal
        section: 'skyglobal/analytics', //todo:mandatory. docs note this should not start or end with /
        account: 'bskybmyaccountdev', //todo: mandatory
        page: 'Analytics demo page', //todo: mandatory
        customEvents: [
            {'magic_happened': {event: 101}}
        ],
        customVariables: [
            {'colour': {var: 71}},
            {'drink': {'var': 72}},
            {'how_about_pina_coladas': {'var': 73}},
        ]
    });
</script>