---
layout: default
title: Analytics
---
<h1 class="wiki-header">Omniture Analytics <small>v{{ site.version }}</small></h1>

<section class="wiki-section">
    <a name="using-me"></a>
    <h2>Using the Analytics</h2>
    <p class="developer-notes">
        Please use the following:
        <code class="html">    &lt;script src=http://analytics.global.sky.com/{{ site.version }}/analytics.js>&lt;/script></code>.
        If your project uses RequireJS, <a href="require-js.html">Click here to see an example</a>.
</p><p>Then add the following onto your page with the correct account details to initialise the tracking.    </p>

    <code class="block js">   analytics.pageView({
        site: 'global',
        section: 'skyglobal/analytics',
        account: 'bskybdemodev',
        page: 'Analytics demo page'
    });</code>
    <p>Boom.    Job Done.    </p>
    <p> Now <code>anchors</code>, <code>buttons</code>, <code>submits</code> and any element with <code>[data-tracking]</code> are automatically tracking.</p>


    <a name="contributing"></a>
    <div class="sub-section">
        {% include using-the-analytics/contributing.html %}
    </div>
    <a name="getting-started"></a>
    <div class="sub-section">
        {% include using-the-analytics/getting-started.html %}
    </div>
</section>


<a name="tracking-clicks"></a>
<section class="wiki-section">
    {% include tracking-clicks.html %}
</section>
<a name="tracking-searches"></a>
<section class="wiki-section">
    {% include tracking-searches.html %}
</section>

<a name="custom-vars"></a>
<section class="wiki-section">
    {% include custom-vars.html %}
</section>

<a name="custom-events"></a>
<section class=wiki-section>
    {% include custom-events.html %}
</section>

<a name="manual"></a>
<section class=wiki-section>
    {% include manual-trigger.html %}
</section>

<a name="single-page-apps"></a>
<section class=wiki-section>
    {% include single-page-apps.html %}
</section>
<script type="text/javascript" charset="utf-8">

    //todo: explain when to use
//    headline: '',
//    contentType: '',
//    contentId: '',
    analytics.pageView({
        site: 'global', //todo:mandatory. docs note this should not have sky/portal
        section: 'skyglobal/analytics', //todo:mandatory. docs note this should not start or end with /
        account: 'bskybglobaldev', //todo: mandatory
        page: 'Analytics demo page', //todo: mandatory
        customEvents: [
            {'magic_happened': {event: 101}}
        ],
        customVariables: [
            {'colour': {'eVar': 71}},
            {'drink': {'eVar': 72}},
            {'how_about_pina_coladas': {'eVar': 73}},
        ]
    });
</script>