<h3 class="wiki-h3">Errors</h3>
<p>Tracking an error is as easy 1, 2, 404. You can either send an error on <code>trackPage</code> or via JS.

<h3 class="wiki-h3">Examples</h3>
<div class="example clearfix">
    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for=send-error></span>
        <a class='btn in-page-cta' href='#!' id='btn_error_event' data-tracking="false">Send Error</a>
    </div>
    <div class="skycom_8">
        Manually call the <code>analytics.trackError</code> function.
    </div>

    <div class="code-example" id=send-error>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">none</code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">analytics.trackError('myCustomError i.e. 404 or no-package-found');            </code>
        </div>
    </div>
    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for=trackPage-error></span>
        <a class='btn in-page-cta' href='#!' id='btn_error_trackPage' data-tracking="false">Send Error on page load</a>
    </div>
    <div class="skycom_8">
        All you need to do is use <code>loadVariables</code>in the trackPage config.
    </div>

    <div class="code-example" id=trackPage-error>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">none</code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">SITECAT_CONFIG = {
    site: 'global',
    section: 'skyglobal/analytics/debug',
    headline: '',
    contentType: 'demo',
    contentId: '',
    account: 'bskybglobaldev',
    loadVariables: { errors: '404' }
};
analytics.trackPage(SITECAT_CONFIG);
            </code>
        </div>
    </div>
</div>