<!DOCTYPE html>
<html>
  <head>
    <title>
      Sky Analytics API Demo Page 
    </title>
    <script src="http://assets.sky.com/js/lib/jquery-1.9.1.min.js"></script> 
    <script src="/js/omniture.js"></script>
    <script src="/js/tracking.js"></script>
    <%= erb :_omniture_config %>
  </head>
  <body>
    <a data-tracking-label='Anchor' href="http://sky.com">Standard anchor link</a>
  </body>
</html>
