<section class="demo-section no-border" id="contributing">
    <div class="sub-section">
        {% include using-the-analytics/contributing.html %}
    </div>
</section>
<section class="demo-section" >
    <div class="sub-section" id="getting-started">
        {% include using-the-analytics/getting-started.html %}
    </div>
    <div class="sub-section" id="default-config">
        {% include using-the-analytics/default-config.html %}
    </div>
    <div class="sub-section" id="config-in-detail">
        {% include using-the-analytics/config-in-detail.html %}
    </div>
</section>


<div id="tracking"></div>
<section class="demo-section" id="clicks">
    {% include components/clicks.html %}
</section>

<section class="demo-section" id="variables">
    {% include components/variables.html %}
</section>

<section class=demo-section id="events">
    {% include components/events.html %}
</section>

<section class="demo-section" id="page-types">
    <h2>Page Types</h2>
    <div class="sub-section" id="searches">
        {% include components/page-types/search.html %}
    </div>
    <div class="sub-section" id="errors">
        {% include components/page-types/error.html %}
    </div>
</section>


<section class=demo-section id="manual-trigger">
    {% include components/manual-trigger.html %}
</section>
