<footer>
<div class="nav-container secondary-menu secondary">
    <div class="skycom-container">
        <ul class="alpha skycom-12">
            <li class="skycom-8 test-result">
                <div class="skycom-1 test-heading">Tests:</div>
                <div class="skycom-2">Passed: <span id="tests-passed"></span></div>
                <div class="skycom-2">Failed: <span id="tests-failed"></span></div>
                <div class="skycom-2">Skipped: <span id="tests-skipped"></span></div>
                <div class="skycom-2">Total: <span id="tests-numberOfTest"></span></div>
            </li>
            <li class="right meta-data skycom-2" >
                <div class="intro">Analytics v<span id="current-version">{{ site.version }}</span></div>
                <small class="right">Updated: {{ site.time | date: '%d-%m-%Y' }}</small>
            </li>
        </ul>
    </div>
</div>
</footer>
