<div class="nav-container">
    <div class="skycom_container nav">
        <ul class="alpha skycom_12 primary-menu">
            <li class="dropdown"><a href="index.html#using-me">Using the Analytics</a>
                <ul class=dropdown-menu>
                    <li><a href="index.html#contributing" data-diff="using-the-analytics/contributing">Contributing</a></li>
                    <li><a href="index.html#getting-started" data-diff="using-the-analytics/getting-started">Getting Started</a></li>
                    <li><a href="index.html#default-config" data-diff="using-the-analytics/default-config">Default config</a></li>
                    <li><a href="index.html#config-in-detail" data-diff="using-the-analytics/config-in-detail">Config in detail</a></li>
                </ul>
            </li>
            <li><a href="index.html#clicks" data-diff="clicks">Clicks</a></li>
            <li><a href="index.html#variables" data-diff="variables">Variables</a></li>
            <li><a href="index.html#events" data-diff="events">Events</a></li>
            <li class="dropdown"><a href="index.html#page-types">Page-Types</a>
                <ul class=dropdown-menu>
                    <li><a href="index.html#search" data-diff="page-types/search">Searches</a></li>
                    <li><a href="index.html#error" data-diff="page-types/error">Errors</a></li>
                </ul>
            </li>
            <li><a href="index.html#manual-trigger" data-diff="manual-trigger">Manual Trigger</a></li>
            <li><a href="changes.html">Changes</a></li>
        </ul>
    </div>
</div>