<h2>Custom Variables</h2>
<p>
    You will need variable Name and Omniture ID. These should be added to the tracking config on initialisation.
</p>
<code class="block">    var config = {
        ...
        customVariables: [
            {'myCustomVar': {var: 71}}
        ]
    };
    toolkit.tracking.pageView(config);
</code>

<p>
    To get a value to go with your variable, you must bind it to an HTML element using the attribute
    <code>data-tracking-variable</code> and setting it to your variable name.  This element also needs the attribute
    <code>data-tracking-value</code> so we know what to send to Omniture.
    If this attribute is omitted, the value of the item clicked will be tracked.
</p>

<div class="example">
    <h3>Examples</h3>
    <h4>Tracking <code>drink</code> and setting it to a text box</h4>
    <div class="skycom_4 alpha">
        <form id='text-input' class="sky-form">
            <label for='input_field'>What is your favourite drink?</label> <br>
            <input id='input_field' name='input_field' type='text' /><br>
            <button data-tracking-variable='drink' data-tracking-value=""  class='btn primary-cta'>Submit</button>
        </form>
    </div>
    <div class="skycom_8">
        <code class="block">&lt;label for='input_field'>What is your favourite drink?&lt;/label>
&lt;input id='input_field' name='input_field' type='text' />
&lt;button data-tracking-variable='drink' data-tracking-value="" class='btn primary-cta'>Submit&lt;/button></code>
    </div>

    <h4 class="clear">Tracking <code>how_about_pina_coladas</code> and setting it to the selected radio button</h4>
    <div class="skycom_4 alpha">
        <form id='radio-input' class="sky-form">
            <label>Do you like Pina Coldas?</label> <br>
            <input id='radio_yes' checked name='radio_field' type='radio' value='yes_to_pinas'/><label for='radio_yes'>Yes</label>
            <input id='radio_no' name='radio_field' type='radio' value='no_to_pinas'/><label for='radio_no'>No</label>
            <br>
            <button data-tracking-variable='how_about_pina_coladas' data-tracking-value="" class='btn primary-cta'>Submit</button>
        </form>
    </div>
    <div class="skycom_8">

        <code class="block">&lt;label>Do you like Pina Coldas?&lt;/label>
&lt;input id='radio_yes' name='radio_field' type='radio' value='yes_to_pinas'/>&lt;label for='radio_yes'>Yes&lt;/label>
&lt;input id='radio_no' name='radio_field' type='radio' value='no_to_pinas'/>&lt;label for='radio_no'>No&lt;/label>
&lt;button data-tracking-variable='how_about_pina_coladas' class='btn primary-cta'>Submit&lt;/button></code>
    </div>

    <div class="skycom_4 alpha">
        <button id='colour-button-blue' data-tracking-variable="colour" class="btn">Blue</button>
    </div>
    <div class="skycom_8">
        <code class="block">&lt;button id='colour-button-blue' data-tracking-variable="colour">Blue&lt;/button></code>
    </div>
</div>
<script type='text/javascript'>
    $(document).ready(function(){
        $('[data-tracking-variable=how_about_pina_coladas]').attr('data-tracking-value',$('input[name=radio_field]:checked').val());
        $('[data-tracking-variable=drink]').attr('data-tracking-value',$('#input_field').val());
        $('#input_field').on('blur', function(e){
            $('[data-tracking-variable=drink]').attr('data-tracking-value',$(this).val());
        });
        $('#radio-input input').on('click', function(e){
            $('[data-tracking-variable=how_about_pina_coladas]').attr('data-tracking-value',$(this).val());
        });
        $('#text-input button, #radio-input button').on('click', function(e){
            e.preventDefault();
        });
    });
</script>