<h2>Custom Events</h2>
<p>
    An array of 'Custom Events' can be added to the analytics <code>config</code> on initialisation..
</p>

<p>The Custom Events array will contain an object with the following options:</p>
<dl class="clearfix ">
    <dt class="skycom_4 alpha">event name</dt>
    <dd class="skycom_8">[string] Event alias</dd>
    <dt class="skycom_4 alpha">event</dt>
    <dd class="skycom_8">[int] Omniture Event Id</dd>
    <dt class="skycom_4 alpha">onPageLoad</dt>
    <dd class="skycom_8">[boolean] Set if the event should be passed to Omniture when the page loads</dd>
</dl>

<h3 class="wiki-h3">Sending the Event when a link is clicked</h3>
<div class="skycom-4 alpha">
    <a class='btn in-page-cta' href='#!' id='btn_custom_event' data-tracking-event='magic_happened'>Custom Event</a>
</div>
<p class="skycom-8">Add <code>data-tracking-event=<i>eventName</i></code> to the relevant element.</p>
<code class="skycom-2 alpha">HTML</code>
<code class="skycom-9">    &lt;a href='#' data-tracking-event='magic_happened'>Custom Event&lt;/a>
</code>
<code class="skycom-2 alpha">Javascript</code>
<div class="skycom-9">
    <code class=" block">    var config = {
        ...
        customEvents: [
            {'magic_happened': {event: 101}}
        ]
    };
    analytics.pageView(config);
    </code>
</div>


<h3 class="wiki-h3">Sending the Event when the page is viewed</h3>
<div class="skycom-4 alpha">
    <a class='btn in-page-cta' href='custom-page-load.html' id='btn_page_load'>Custom Page Load</a>
</div>
<p class="skycom-8">Add <code>onPageLoad: true</code> in the config.</p>

<code class="skycom-2 alpha">HTML</code>
<code class="skycom-9">    <i>none</i>
</code>
<code class="skycom-2 alpha">Javascript</code>
        <div class="skycom-9">
<code class=" block">    var config = {
        ...
        customEvents: [
            {'magic_happened': {event: 101, onPageLoad: true}}
        ]
    };
    analytics.pageView(config);
</code>
        </div>