<h2>Custom Page Load Events and variables</h2>
<p>To send an event upon page load.</p>

<pre>
        <code>
        SITECAT_CONFIG = {
            site: 'mysky',
            section: 'skyglobal/analytics',
            headline: '',
            contentType: 'skyglobal',
            contentId: '',
            account: 'bskybmyaccountdev',
            page: 'Analytics demo page',
            customEvents: [{'custom_page_load': {event: 99, onPageLoad: true}}],
            customVariables: [
                {'my_custom_prop':     { prop: 40, onPageLoad: true, value: 'my custom prop value'}},
                {'my_custom_variable': { var: 41, prop: 41,  onPageLoad: true, value: 'my custom eVar value'}}
            ]
        };
        </code>
        </pre>

</section>