<h2>Search Tracking</h2>
<p>
    Search events and variables can be tracked automatically if you add the correct <code>data-</code> attributes into the HTML.
</p>

<h3 class="wiki-h3">Examples</h3>
<div class='example clearfix'>

    <div class='skycom_4 alpha skycom_clear sky-form has-code-example'>
        <span class="toggle-code-example" for=search-events></span>
        <input id="weather-search" type="text" placeholder="Postcode or town">
        <button class="btn" type="submit" data-tracking-search="weather" data-tracking-context-id="weather-search">Search</button>
    </div>
    <div class="skycom_8">
        Using '<code>data-tracking-search</code>' with '<code>data-tracking-context-id</code>' will activate the Omniture Search Variables.
    </div>
    <div class="code-example" id=search-events>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="block html">&lt;input id="search" type="text" placeholder="Postcode or town">
&lt;button data-tracking-search="weather" data-tracking-context-id="search">Search&lt;/button></code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9 js"><i>none</i></div>
    </div>
</div>