
body{
    padding-top: 2em!important;
}
.quick-links {
    z-index: 10;
    height: 2em;
    line-height: 2em;
    position: fixed;
    top: 0; left:0;
    width:100%;
    background-color: #e5e5e5;
}
.quick-links ul li{
    float: left;
    margin: 0 20px 0 0;
}

.skycom_container {
  padding-bottom: 6em;
  max-width: 1212px;
}

.example {
  clear: both;
  margin: 1em 0;
}

code{
    font-family: 'Monaco', courier, monospace;
    background: #FDF6E3;
    word-wrap: break-word;
    margin: 0px;
    padding: 2px;
    color: #657B83;
    font-size: 14px;
    margin-bottom: 5px;
}
code.block {
  display: block;
    white-space: pre;
    clear: left;
}

section{
    clear: left;
    border-top: 1px solid #000;
    margin-top: 2em;
    margin-bottom: 2em;
}
.alpha{
    clear: left;
}
.example .skycom_4,
.example .skycom_8,
dt,
dd{
    padding: 6px 0;
    border-top: 1px dashed #ddd;
}

dt:nth-child(3n) ,
dd:nth-child(2n) {
}