<h2>Manual Tracking</h2>
<div>
    You can trigger tracking using JS, and the event will be sent to Omniture as if the user had clicked the element themselves.
</div>

<h3 class="wiki-h3">Bind tracking manually</h3>
<p>
    If you have set <code>trackClicks: false</code> in the config you will need to manually set up the link track binding.
    You will also have to manually trigger <code>analytics.trackPage</code> for 'single-page apps'.
    This is useful for 'backbone' apps for example.
</p>

<h4 >Examples</h4>
<div class="example clearfix">
    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for=single-page-app></span>
        <a class='btn in-page-cta' href='#' id='btn_ajax_event' data-tracking="false">Ajax Event / Single page app</a>
    </div>
    <div class="skycom_8">
        Pass in the updated <code>config</code> to, and call the <code>trackPage</code> function.
    </div>

    <div class="code-example" id=single-page-app>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">none</code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">analytics.trackPage(config);            </code>
        </div>
    </div>

    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for=manual></span>
        <span class='btn in-page-cta' href='#!' id='manualTrack'>Span manually tracked by JS</span><br/>
        <a class='btn in-page-cta' data-tracking=false href='#!' id='manualTrackingOff'>Anchor being tracked with JS</a>
    </div>
    <div class="skycom_8">
        All elements can be tracked via JS. even id <code>data-tracking=false</code> attribute exists.
    </div>

    <div class="code-example" id=manual>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">&lt;span id='trackingOff'>tracked with js&lt;/span>            </code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">$('#trackingOff').trigger('analytics.track');            </code>
        </div>
    </div>
    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for=manual-bind></span>
        <span class='btn in-page-cta' data-tracking=false href='#!' id='manualBind'>Span manually bound</span><br/>
        <a class='btn in-page-cta' data-tracking=false href='#!' id='manualBindA'>Anchor manually bound</a>
    </div>
    <div class="skycom_8">
        You can bind your DOM elements to execute <code>analytics.trackClick</code> manually
    </div>

    <div class="code-example" id=manual-bind>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">&lt;span id='manualBind'>tracked with js&lt;/span>            </code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">$(document).on('click', '#manualBind, manualBindA', analytics.trackClick);</code>
        </div>
    </div>
</div>


<h3 class="wiki-h3">AdHoc Tracking</h3>
<p>
    You can send events/variables to omniture during the life of a page using <code>analytics.trackAdHoc</code>.
</p>

<h4>Examples</h4>
<div class="example clearfix">
    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for='ad-hoc-tracking-code'></span>
        <a class='btn in-page-cta' href='#' id='ad-hoc-tracking' data-tracking="false">Send AdHoc Tracking</a>
    </div>
    <div class="skycom_8">
        <code>setup</code> and call the <code>trackAdHoc</code> function.
    </div>

    <div class="code-example" id='ad-hoc-tracking-code'>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">none</code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">analytics.setup({
    site: 'global',
    section: 'skyglobal/analytics/demo',
    account: 'bskybdemodev',
    contentType: 'analytics',
    customVariables: [
        {'briansCat': {'eVar': 66}}
    ],
    customEvents: [
        {'myAdHocEvent': {'event': 69} }
    ]
});</code>
            <code class="js block">analytics.trackAdHoc(
    {'briansCat': 'is still great'},
    {'testAndTarget': 'is poo'},
    'myAdHocEvent'
);</code>
        </div>
    </div>


    <div class="skycom-4 alpha has-code-example">
        <span class="toggler" for='ad-hoc-tracking-page-view-code'></span>
        <a class='btn in-page-cta' href='#' id='ad-hoc-tracking-page-view' data-tracking="false">Send AdHoc Tracking page view</a>
        <a class='btn in-page-cta' href='#' id='ad-hoc-tracking-after-page-view' data-tracking="false">Send AdHoc Tracking after page view</a>
    </div>
    <div class="skycom_8">
        Send the <code>config</code>, track page view and then call the <code>trackAdHoc</code> function.
    </div>

    <div class="code-example" id='ad-hoc-tracking-page-view-code'>
        <code class="skycom-2 alpha html">HTML</code>
        <div class="skycom-9">
            <code class="html block">none</code>
        </div>
        <code class="skycom-2 alpha js">Javascript</code>
        <div class="skycom-9">
            <code class="js block">analytics.setup({
    site: 'global',
    section: 'skyglobal/analytics/demo',
    account: 'bskybdemodev',
    contentType: 'analytics',
    customVariables: [
        {'briansCat': {'eVar': 66}}
    ],
    customEvents: [
        {'myAdHocEvent': {'event': 69} }
    ]
});</code>
            <code class="js block">analytics.trackPage();</code>
            <code class="js block">analytics.trackAdHoc(
    {'briansCat': 'is still great'},
    {'testAndTarget': 'is poo'},
    'myAdHocEvent'
);</code>
        </div>
    </div>
</div>