<!doctype html>
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
    <title>Sky Analytics API Demo Page</title>

    <link rel="stylesheet" href="http://web-toolkit.global.sky.com/0.4.8/stylesheets/toolkit.css">
    <link rel="stylesheet" href="./dist/css/wiki.css">
    <script src="http://assets.sky.com/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>

    {% include skycom-resources.html %}

    <!-- Tracking - aka: What you came here for -->
    <script type='text/javascript' src="./dist/js/analytics.js"></script>
</head>
<body>

<div class='grid-1140'>

    <div class="quick-links">
        <div class="skycom_container">
            <ul class="nav-pills alpha skycom_12">
                <li><a href="/#using-me">Using the Analytics</a></li>
                <li><a href="/#tracking-clicks">Tracking Clicks</a></li>
                <li><a href="/#tracking-searches">Tracking Searches</a></li>
                <li><a href="/#custom-vars">Custom Variables</a></li>
                <li><a href="/#custom-events">Custom Events</a></li>
                <li><a href="/#manual">Manual Trigger</a></li>
                <li><a href="/#single-page-apps">Single Page Apps</a></li>
            </ul>
        </div>
    </div>
    <div class="skycom-container clearfix">
        <div class="alpha skycom-12">
            {{ content }}
        </div>
    </div>
    <!--<script src="dist/scripts/lib/require.js" data-main='dist/scripts/wiki'></script>-->
</div>
</body>
</html>