<!doctype html>
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <title>Sky Analytics API Demo Page</title>

    <link rel="stylesheet" href="http://web-toolkit.global.sky.com/0.5.1/stylesheets/toolkit.css">
    <link rel="stylesheet" href="./dist/css/wiki.css">
    <script src="http://assets.sky.com/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>

    {% include skycom-resources.html %}

    <!-- Tracking - aka: What you came here for -->
    <script type='text/javascript' src="./dist/js/analytics.js"></script>
</head>
<body>

<div class='grid-1140'>

    <div class="quick-links">
        <div class="skycom_container">
            <ul class="nav-pills alpha skycom_12">
                <li><a href="index.html#using-me">Using the Analytics</a>
                    <ul class=secondary-menu>
                        <li><a href="index.html#contributing" data-diff="using-the-analytics/contributing">Contributing</a></li>
                        <li><a href="index.html#getting-started" data-diff="using-the-analytics/getting-started">Getting Started</a></li>
                        <li><a href="index.html#default-config" data-diff="using-the-analytics/default-config">Default config</a></li>
                        <li><a href="index.html#config-in-detail" data-diff="using-the-analytics/config-in-detail">Config in detail</a></li>
                    </ul>
                </li>
                <li><a href="index.html#clicks" data-diff="clicks">Clicks</a></li>
                <li><a href="index.html#variables" data-diff="variables">Variables</a></li>
                <li><a href="index.html#events" data-diff="events">Events</a></li>
                <li><a href="index.html#page-types">Page-Types</a>
                    <ul class=secondary-menu>
                        <li><a href="index.html#search" data-diff="page-types/search">Searches</a></li>
                        <li><a href="index.html#error" data-diff="page-types/error">Errors</a></li>
                    </ul>
                </li>
                <li><a href="index.html#manual-trigger" data-diff="manual-trigger">Manual Trigger</a></li>
                <li><a href="changes.html">Changes</a></li>
            </ul>
        </div>
    </div>
    <div class="skycom-container clearfix">
        <div class="alpha skycom-12">
            {{ content }}
        </div>
    </div>
    <link rel="stylesheet" href="http://web-toolkit.global.sky.com/1.0.0/scripts/toolkit.js">
    <script src="./dist/js/demo.js"></script>
</div>
</body>
</html>